.section-with-hidden-items {
  margin-bottom: 20px;
}

.aside-sections-list .btn-click.catlist-icon.noactive {
  background-image: url('/bitrix/templates/concept_kraken_s1/images/svg/catlist_wt.svg');
  color: #fff;
  background-size: 20px;
  height: 60px;
  font-size: 17px;
  line-height: 60px;
  padding: 0 20px 0 55px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 23px center;
  background-size: 20px;
  position: relative;
}
.aside-sections-list .btn-click.catlist-icon.active {
  background-image: url('/bitrix/templates/concept_kraken_s1/images/svg/catlist_bl.svg');
  background-color: #e3e3e3;
  color: #000;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}


@media (min-width: 1200px) {
  .aside-sections-list .btn-click.catlist-icon.noactive {
    background-color: #333300;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }
}
.aside-sections-list .btn-click.catlist-icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: 20px;
  margin-top: 1px;
}
.aside-sections-list .btn-click.catlist-icon.active i {
  color: #000;
}
.aside-sections-list .btn-click.catlist-icon.noactive .down {
  display: inline-block;
}

.aside-sections-list .btn-click.catlist-icon.active .down {
  display: none;
}
.aside-sections-list .btn-click.catlist-icon.noactive .up {
  display: none;
}
.aside-sections-list .btn-click.catlist-icon.active .up {
  display: inline-block;
}
.aside-sections-list .menu-navigation-wrap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: unset;
}

.aside-sections-list .menu-navigation-inner {
  padding-bottom: 25px;
}

.aside-sections-list .menu-navigation-inner > :first-child {
  margin-top: 0 !important;
}

.aside-sections-list .menu-navigation ul.nav {
  margin: 0 0 30px;
  margin-top: 0px;
  padding: 0;
  list-style: none;
}
.aside-sections-list .nav > li {
  position: relative;
  border-left: 3px solid #e5e5e5;
  border-left-color: rgb(229, 229, 229);
  padding: 0 0 0 20px;
  -webkit-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
  background-color: #fff;
}

.aside-sections-list .nav > li.active {
  background-color: #f4f4f4;
  border-left-color: #333300;
}

.aside-sections-list .nav > li a {
  font-size: 15px;
  line-height: 21px;
  padding: 15px 50px 15px 0;
  color: #4685d4;
  display: block;
  border-bottom: 1px solid #f4f4f4;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: relative;
}

.aside-sections-list .nav > li.active a{
  color: #111111;
}

.aside-sections-list .nav .count {
  color: #c3c3c3;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 20px;
}


































