frontend/node_modules/
frontend/dist/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
bitrix_test/
.cursor
*storybook.log
node_modules/
storybook-static/
stories/