.open-menu-mobile {
  display: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  visibility: visible;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  width: 100%;
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  background: linear-gradient(135deg,#a0a0a0 0%,#727272 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0',endColorstr='#727272',GradientType=1);
  color: #fff;
}

.open-menu-mobile.show-open {
  display: block;
  position: fixed;
}

.open-menu-mobile.show-open.on {
  left: 0;
}

.close-menu.mobile {
  top: 24px;
  right: 15px;
  margin: 0;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url(/bitrix/templates/concept_kraken_s1/images/cross_mob_menu.png);
  display: none;
}

.close-menu.mobile.on {
  display: block;
  position: fixed;
  z-index: 10000;
}

.open-menu-mobile .menu-mobile-inner {
  overflow: hidden;
}
.open-menu-mobile .head-wrap {
  padding: 10px 60px 10px 15px;
  min-height: 76px;
  background-color: #666666;
}
.open-menu-mobile .menu-content {
  position: relative;
  padding: 0 30px 40px;
}

.open-menu-mobile .mobile-menu-list {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  visibility: hidden;
  left: -999px;
}

.open-menu-mobile .mobile-menu-list.show-open {
  position: relative;
  visibility: visible;
  left: 0;
  -webkit-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
}

.open-menu-mobile .mobile-menu-list li {
  display: block;
  border-bottom: 1px solid #aaa4a0;
  position: relative;
}

.open-menu-mobile .mobile-menu-list li a {
  display: block;
  padding: 20px 20px 20px 0;
  color: inherit;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}


@media (max-width: 767px) {
  .open-menu-mobile .mobile-menu-list li a{
    padding: 16px 20px 15px 0;
  }
}

.open-menu-mobile .mobile-menu-list .border-mob-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  display: none;
  background-color: #333300;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}

.open-menu-mobile .mobile-menu-list .selected .border-mob-menu {
  display: block;

}

.open-menu-mobile .search-panel-mob {
  height: 54px;
  margin: 0 -30px;
  background-color: #fff;
  overflow: hidden;
}

.open-menu-mobile .search-input-box {
  position: relative;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding-left: 40px;
  height: 100%;
}

.open-menu-mobile .search-input-box .search-style {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  border: 0;
  margin-left: 5px;
  color: #000;
}

.open-menu-mobile .search-input-box .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url('/bitrix/templates/concept_kraken_s1/images/search/search_gr.svg') center no-repeat;
  background-size: auto;
  background-size: 20px;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.open-menu-mobile .search-btn-style {
  font-size: 17px;
  line-height: 22px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 0;
  text-align: center;
}










































