.k1-catalog-block .element-list{
  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px;
}
.k1-catalog-block {
  position: relative;
}

.k1-catalog-block .element {
  margin: 0 -10px 50px;
  position: relative;
  background-color: #fff;
}

.k1-catalog-block .element-inner {
  padding: 20px;
}

.k1-catalog-block .image-wrap {
  position: relative;
  padding-bottom: 5px;
}

.k1-catalog-block .image-wrap table {
  margin: auto;
  width: 100%;
  table-layout: fixed;
}
.k1-catalog-block .element-outer {
  position: relative;
}

.k1-catalog-block .image-wrap td {
  height: 215px;
}

.k1-catalog-block .image-wrap img {
  max-height: 215px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.k1-catalog-block .name {
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  text-align: center;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}
.k1-catalog-block .name a {
  text-decoration: none;
  color: inherit;
}

.k1-catalog-block .price-table {
  display: table;
  margin: 0 auto;
}

.k1-catalog-block .price-cell {
  display: table-cell;
  white-space: nowrap;
  font-size: 19px;
  line-height: 25px;
  vertical-align: bottom;
}
.k1-catalog-block .price-cell.price {
  color: #1a1a1a;
}
.k1-catalog-block .info-panel {
  padding-left: 20px;
  padding-right: 20px;
}
.k1-catalog-block .sku-block {
  text-align: center;
  margin-bottom: 15px;
}
.k1-catalog-block .sku-row {
  margin-bottom: 0;
}
.k1-catalog-block .sku-wr-title {
  position: relative;
}
.k1-catalog-block .sku-title {
  font-size: 11px;
  display: inline-block;
  padding: 2px 8px;
  background-color: #fff;
  position: relative;
  z-index: 5;
}
.k1-catalog-block ul.select-input {
  width: calc(100% - 29px);
}
.k1-catalog-block ul.select-input li {
  font-size: 12px;
  line-height: 13px;
  height: 28px;
  padding: 8px 7px;
}
.k1-catalog-block .ar-down {
  width: 30px;
  height: 30px;
  background-size: 10px;
}
.k1-catalog-block .btn-detail-wrap {
  padding: 20px;
  text-align: center;
  background-color: #f6f6ef;
  text-overflow: ellipsis;
}
.k1-catalog-block .button-def {
  display: block;
  margin-bottom: 15px;
}
.k1-catalog-block .btn-add2basket span.first, .k1-catalog-block .btn-add2basket.added span.second {
  display: inline;
}
.k1-catalog-block .btn-add2basket span {
  position: static;
  text-overflow: ellipsis;
  overflow: hidden;
}
.k1-catalog-block .link-def {
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
  margin-top: 0;
}
.k1-catalog-block .btn-detail-wrap > :last-child {
  margin-bottom: 0 !important;
}
.k1-catalog-block .button-def {
  display: block;
  margin-bottom: 15px;
}
.k1-catalog-list-wrap .content-inner {
  position: relative;
  z-index: 99;
  padding-left: 40px;
}
@media (min-width: 1200px) {
  .k1-catalog-block .elem-hover-show {
    display: none;
  }
  .k1-catalog-block .element:hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.23);
  }
}
@media (min-width: 1200px) {

}
































