.main-menu {
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
  margin: 0 auto -1px;
  width: 100%;
}
.main-menu li {
  vertical-align: middle;
}

.main-menu li.menu {
  width: 60px;
}
.main-menu  a.ic-main-menu-burger {
  background-color: transparent;
}

.main-menu  a.ic-main-menu-burger .icon-bar {
  background: #fff;
  display: block;
  height: 2px;
  margin: 0;
  opacity: 1;
  transition: transform 0.1s ease-in;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.main-menu  a.ic-main-menu-burger .icon-bar:nth-child(2) {
  margin-bottom: 4px;
  margin-top: 4px;
}

/*.main-menu  a.ic-main-menu-burger .icon-bar:nth-child(2) {*/
/*  margin-bottom: 4px;*/
/*  margin-top: 4px;*/
/*}*/

.main-menu  .icon-hamburger-wrap {
  display: inline-block;
  width: 20px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.main-menu li.visible {
  display: table-cell;
}
.main-menu li {
  display: none;
}
.main-menu li.view_1 {
  position: relative;
}
.main-menu li a {
  background-color: transparent;
  font-size: 13px;
  line-height: 13px;
  padding: 2px 20px 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  position: relative;
  z-index: 10;
  height: 56px;
  display: table;
  width: 100%;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
  font-family: 'SegoeUIRegular', Arial, 'PT Sans Caption', sans-serif;
}
.main-menu .wrap-name {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.main-menu .wrap-name>span {
  position: relative;
}

.main-menu .wrap-name .bord {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 5px;
  left: 0;
}

.main-menu li:hover .bord {
   background-color: #333300;
}