.k1-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -50;
  transform-origin: center center;
  opacity: 0;
  padding: 30px 10px;
  &.k1-modal-scroll {
    overflow: auto;
    align-items: flex-start;
  }

  & .k1-modal__body {

  }

  &.k1-opened {
    z-index: 9999;
    opacity: 1;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    & .k1-modal__body {
    }
  }

  & .k1-modal__body {
    background-color: white;
    width: 100%;
    padding: 25px 50px;
    color: black;
    position: relative;
    max-width: 570px;
  }

  & .k1-modal__close {
    position: absolute;
    top: 0;
    left: calc(100% + 1rem);
    width: 28px;
    height: 28px;
    transition: transform .3s linear;
    transform-origin: center;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    & span {
      width: 28px;
      height: 2px;
      display: block;
      background-color: white;
      transform-origin: center;
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      transition: background-color .3s linear;

      &:first-child {
        transform: rotate(45deg)
      }

      &:last-child {
        transform: rotate(-45deg)
      }
    }
  }

  & .k1-modal__title {
    font-weight: 700;
    font-size: 1.9rem;
    margin: 0 auto 2rem;
    text-align: center;
  }

}
