[data-r=redesign] {

  --pink: #ff0070;
  --pink-hover: #d00755;
  --white: white;
  --dark: #0d0d0d;

  --container-padding: 15px;
  --r-container: calc(1800px + var(--container-padding) * 2);
  --child-list-top-padding: 16px;
  --header-top: 0;
  /*--header-top: 63px;*/

  /*--slider-max-height: 560px;*/
  --slider-max-height: 118px;
  --slider-max-height-fix: 118px;
  /*--header-top-height: 118px;*/
  --header-top-height-fix: 118px;


  --font-tt: "tt", sans-serif;
  --font-ttс: "ttс", sans-serif;


  img {
    display: block;
    object-position: center;
    object-fit: cover;
  }


  font-weight: 400;

}

.r-container {
  max-width: var(--r-container);
  width: 100%;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.r-header {
  font-family: var(--font-ttс);
  /*display: none;*/
}

.r-header.r-header--fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-100%);

  /*display: none;*/
  /*transform: translateY(0);*/
}

.r-header.r-header--fix.active {
  transform: translateY(0);
  transition: transform .3s ease-out;
  display: block;
}

.header-row-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 60px;
}

.header-container {
  max-width: var(--r-container);
  width: 100%;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.r-header__slider {
  height: var(--slider-max-height);
  width: 100%;
  transition: height .3s linear
}

.r-header.r-header--fix .r-header__slider {
  height: var(--slider-max-height-fix);

}

.r-header__slider .swiper-slide {
  width: 100%;
  height: 100%;
}

.r-header__slider-pagination.swiper-pagination {
  right: 120px;
  bottom: 35px;
  width: max-content;
  left: auto;

}

.r-header__slider-pagination.swiper-pagination .swiper-pagination-bullet {
  width: 21px;
  height: 21px;
  border-radius: 4px;
  background-color: var(--white);
  margin-left: 36px;
  margin-right: 0;
  opacity: 1;
}

.r-header__slider-pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--pink);
}

.r-header__slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.r-header-top {
  position: absolute;
  top: var(--header-top);
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .25);
  z-index: 100;
}

.r-header.r-header--fix .r-header-top {
  top: 0;
  height: var(--header-top-height-fix);
}

.r-header-row {
  display: flex;
  /*align-items: center;*/
  gap: 60px;
}

.r-header-top__tg {
  display: flex;
  align-items: center;
  gap: 60px;
}

.r-header-top__tg img {
  width: 80px;
  height: 80px;
  display: block;
}

.r-header-top__tg div {
  font-size: 29px;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
}

.r-header-top__menu {
  margin-left: auto;
  display: flex;
  align-items: center;

}

.r-header-top__menu menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.r-header-top__menu a {
  font-size: 29px;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;

}


.r-header-top__logo {
  background-color: var(--pink);
  padding: 20px 40px;
}

.r-header-top__logo {
  max-width: 320px;
  width: 100%;
}

.r-header__footer {
  background-color: var(--dark);
}

.r-header__footer-body {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.r-header__search {
  max-width: 660px;
  flex: 1 1 200px;
  position: relative;
  padding: var(--child-list-top-padding) 0;
  height: 100%;
}

.r-header__search label {
  display: block;
  width: 100%;
  margin: 0;
}

.r-header__search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--white);
  height: 50px;
  padding: 4px 56px 4px 12px;
  font-size: 20px;
}

.r-header__search button {
  position: absolute;
  right: 0;
  top: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2px;
}

.r-header__search button img {
  width: 44px;
  height: 44px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.r-header-burger {
  display: none;
}

.r-catalog-top h1 {
  font-weight: 700;
}

.r-catalog-top__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 24px;
}

.r-catalog-top__list a {
  font-size: 24px;
  color: var(--dark);

}

.r-catalog-top__list a.k-current-filter {
  color: var(--pink);
}


[data-r=redesign] .visible-k-lg {
  display: none;
}

[data-r=redesign] .k1-catalog-items-block:before,
[data-r=redesign] .k1-catalog-items-block:after {
  display: none;
}

[data-r=redesign] .k1-catalog-items-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  grid-gap: 24px;
}

[data-r=redesign] .k1-catalog-items-block .clearfix {
  display: none !important;
}

[data-r=redesign] .k1-catalog-items-block [class^=col-] {
  width: initial;
  padding: 0;
}


.r-container.brands-container {
  max-width: 1600px;
}

.brands-container ul,
.brands-container li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.brands-letter {
  font-weight: 700;
  font-size: 20px;
}

.brands-filter-wrapper {
  margin-top: 24px;
}

.brands-filter-wrapper a {
  font-size: 24px;
  color: var(--dark);
  font-weight: 500;
  display: block;
  padding: 4px;
}

.brands-links {
  display: flex;
  flex-direction: column;
}

.brands-name {
  color: var(--dark);
  text-decoration: none;
  font-size: 16px;
}

.brands-list-wrapper {
  /*position: absolute;*/
  /*top: 100%;*/
  /*width: 100dvw;*/
  /*display: none;*/
}

.brands-list-wrapper .r-child {
  /*width: 100%;*/
}

.brands-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 28px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  padding-bottom: 32px;
  margin-top: 24px;
  /*gap: 16px;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /*writing-mode: vertical-lr;*/
  /*text-orientation: upright;*/
}

.k1-catalog-wrapper {

  /*grid-template-columns: 1fr 1fr;*/
}

[data-r=redesign] div.content-inner {
  padding-left: 0;
}
[data-r=redesign] .k1-catalog-items-block {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "P0P P1P"
    "P2P P3P"
    "P4P P5P"
    "P6P P7P"
    "P8P P9P"
    "P10P P11P"
    "P12P P13P"
    "P14P P15P"
    "P16P P17P"
    "P18P P19P"
    "P20P P21P"
    "P22P P23P"
;

}

[data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--goat {
  grid-template-areas:
    "P0P P1P"
    "P2P P3P"
    "P4P P5P"
    "P6P P7P"
    "P8P P9P"
    "P10P P11P"
    "P12P P13P"
    "P14P P15P"
    "P16P P17P"
    "P18P P19P"
    "P20P P21P"
    "P22P P23P"
    "G ."
;
}

[data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article {
  grid-template-areas:
    "P0P P1P"
    "P2P P3P"
    "P4P P5P"
    "P6P P7P"
    "P8P P9P"
    "P10P P11P"
    "P12P P13P"
    "P14P P15P"
    "P16P P17P"
    "P18P P19P"
    "P20P P21P"
    "P22P P23P"
    "A ."
;
}

[data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article.k1-catalog-items-block--goat {
  grid-template-areas:
    "P0P P1P"
    "P2P P3P"
    "P4P P5P"
    "P6P P7P"
    "P8P P9P"
    "P10P P11P"
    "P12P P13P"
    "P14P P15P"
    "P16P P17P"
    "P18P P19P"
    "P20P P21P"
    "P22P P23P"
    "A G"
;
}

.gallery-control .mini-pic,
.gallery-control .mini-pic table,
.gallery-control .mini-pic td,
.gallery-control .mini-pic .pic-border {
  height: 100%;
}
.gallery-control .mini-pic .pic-border img {
  height: 100%;
  object-fit: contain;
}


/*.brads-list * {*/
/*  writing-mode: horizontal-tb;*/
/*}*/
@media (min-width: 400px) {
  [data-r=redesign] .k1-catalog-items-block {
    grid-template-columns: repeat(2, 1fr);
  }

  .k1-catalog-wrapper {
    /*grid-template-columns: 2fr 1fr;*/
  }


}

@media (min-width: 768px) {
  .r-header-top__menu a {
    transition: border-color .2s linear;
  }

  .r-header-top__menu a:focus,
  .r-header-top__menu a:active,
  .r-header-top__menu a:hover {
    border-color: var(--pink-hover);
    color: var(--white);
  }

  .r-catalog-top__list a {
    border-bottom: 2px solid transparent
  }

  .r-catalog-top__list a:hover {
    border-color: var(--pink)
  }

  /*[data-r=redesign] .k1-catalog-items-block [class^=col-] {*/
  /*  width: 33.333%;*/
  /*}*/
  .brands-filter-wrapper a {
    transition: color .2s linear;
  }

  .brands-filter-wrapper a:hover {
    color: var(--pink);
  }

  [data-r=redesign] .k1-catalog-items-block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "P0P P1P ."
    "P2P P3P ."
    "P4P P5P ."
    "P6P P7P ."
    "P8P P9P ."
    "P10P P11P ."
    "P12P P13P ."
    "P14P P15P ."
    "P16P P17P ."
    "P18P P19P ."
    "P20P P21P ."
    "P22P P23P ."
  ;

  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--goat {
    grid-template-areas:
    "P0P P1P G"
    "P2P P3P ."
    "P4P P5P ."
    "P6P P7P ."
    "P8P P9P ."
    "P10P P11P ."
    "P12P P13P ."
    "P14P P15P ."
    "P16P P17P ."
    "P18P P19P ."
    "P20P P21P ."
    "P22P P23P ."
  ;
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article {
    grid-template-areas:
    "P0P P1P A"
    "P2P P3P ."
    "P4P P5P ."
    "P6P P7P ."
    "P8P P9P ."
    "P10P P11P ."
    "P12P P13P ."
    "P14P P15P ."
    "P16P P17P ."
    "P18P P19P ."
    "P20P P21P ."
    "P22P P23P ."
  ;
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article.k1-catalog-items-block--goat {
    grid-template-areas:
    "P0P P1P A"
    "P2P P3P G"
    "P4P P5P ."
    "P6P P7P ."
    "P8P P9P ."
    "P10P P11P ."
    "P12P P13P ."
    "P14P P15P ."
    "P16P P17P ."
    "P18P P19P ."
    "P20P P21P ."
    "P22P P23P ."
  ;
  }

}

@media (min-width: 1200px) {


  [data-r=redesign] .hidden-k-lg {
    display: none;
  }

  [data-r=redesign] .visible-k-lg {
    display: block;
  }

  [data-r=redesign] .k1-catalog-items-block {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "P0P P1P P2P ."
    "P3P P4P P5P ."
    "P6P P7P P8P ."
    "P9P P10P P11P ."
    "P12P P13P P14P ."
    "P15P P16P P17P ."
    "P18P P19P P20P ."
    "P21P P22P P23P .";
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--goat {
    grid-template-areas:
    "P0P P1P P2P G"
    "P3P P4P P5P ."
    "P6P P7P P8P ."
    "P9P P10P P11P ."
    "P12P P13P P14P ."
    "P15P P16P P17P ."
    "P18P P19P P20P ."
    "P21P P22P P23P .";
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article {
    grid-template-areas:
    "P0P P1P P2P A"
    "P3P P4P P5P ."
    "P6P P7P P8P ."
    "P9P P10P P11P ."
    "P12P P13P P14P ."
    "P15P P16P P17P ."
    "P18P P19P P20P ."
    "P21P P22P P23P .";
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article.k1-catalog-items-block--goat {
    grid-template-areas:
    "P0P P1P P2P A"
    "P3P P4P P5P G"
    "P6P P7P P8P ."
    "P9P P10P P11P ."
    "P12P P13P P14P ."
    "P15P P16P P17P ."
    "P18P P19P P20P ."
    "P21P P22P P23P .";
  }

  /*[data-r=redesign] .k1-catalog-items-block [class^=col-] {*/
  /*  width: 20%;*/
  /*}*/
}

@media (min-width: 1600px) {
  [data-r=redesign] .k1-catalog-items-block {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "P0P P1P P2P P3P ."
    "P4P P5P P6P P7P ."
    "P8P P9P P10P P11P ."
    "P12P P13P P14P P15P ."
    "P16P P17P P18P P19P ."
    "P20P P21P P22P P23P .";
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--goat {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "P0P P1P P2P P3P G"
    "P4P P5P P6P P7P ."
    "P8P P9P P10P P11P ."
    "P12P P13P P14P P15P ."
    "P16P P17P P18P P19P ."
    "P20P P21P P22P P23P .";
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "P0P P1P P2P P3P A"
    "P4P P5P P6P P7P ."
    "P8P P9P P10P P11P ."
    "P12P P13P P14P P15P ."
    "P16P P17P P18P P19P ."
    "P20P P21P P22P P23P .";
  }

  [data-r=redesign] .k1-catalog-items-block.k1-catalog-items-block--article.k1-catalog-items-block--goat {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "P0P P1P P2P P3P A"
    "P4P P5P P6P P7P G"
    "P8P P9P P10P P11P ."
    "P12P P13P P14P P15P ."
    "P16P P17P P18P P19P ."
    "P20P P21P P22P P23P .";
  }

}

/*.k1-catalog-wrapper-new .k1-catalog-items-block {*/
/*  grid-template-columns: repeat(5, 1fr);*/
/*  grid-template-areas:*/
/*    "P0P P1P P2P P3P A"*/
/*    "P4P P5P P6P P7P G"*/
/*    "P8P P9P P10P P11P ."*/
/*    "P12P P13P P14P P15P ."*/
/*    "P16P P17P P18P P19P ."*/
/*    "P20P P21P P22P P23P .";*/
/*}*/

/*.k1-catalog-wrapper-new .product-item-picture-wrapper-new {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  height: 200px;*/
/*}*/

/*.k1-catalog-wrapper-new .product-item-picture-wrapper-new img{*/
/*  height: 200px;*/
/*  width: auto;*/
/*}*/
/*.k1-catalog-wrapper-new .article-in-catalog .product-item-picture-wrapper-new  {*/
/*  height: 300px;*/
/*}*/
/*.k1-catalog-wrapper-new .article-in-catalog .product-item-picture-wrapper-new img{*/
/*  height: 300px;*/
/*}*/

.r-button[data-k-js=toggle-sections] {
  display: none;
}

@media (max-width: 1410px) {
  [data-r=redesign] {
    /*--slider-max-height: 440px;*/
    --slider-max-height: 90px;
    /*--slider-max-height-fix: 270px;*/
    --slider-max-height-fix: 90px;
    --header-top-height-fix: 90px;
  }

  .r-header-row {
    gap: 32px;
  }

  .r-header.r-header--fix .r-header-top {
    top: 0;
    /*height: 90px;*/
  }

  .r-header.r-header--fix .r-header__slider {
    /*height: 270px;*/
  }

  .header-row-container {
    padding-left: var(--container-padding);
  }

  .r-header-top__tg img {
    width: 60px;
    height: 60px;
    display: block;
  }

  .r-header-top__tg {
    gap: 30px;
  }

  .r-header-top__tg div,
  .r-header-top__menu a {
    font-size: 20px;
  }

  .r-header-top__logo {
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .r-header-top__logo img {
    height: 74px;
  }

  .r-header__search input {
    height: 40px;
    padding: 4px 56px 4px 12px;
  }

  .r-header__search button img {
    width: 32px;
    height: 32px;
    right: 2px;
    top: 18px;
  }

  .r-header-top__menu menu {
    gap: 16px;
  }
}

@media (max-width: 1000px) {
  [data-r=redesign] {
    --child-list-top-padding: 10px;
  }

  .r-header .r-header-top {
    top: 0;
    height: var(--header-top-height-fix);
  }

  .r-header .r-header__slider {
    height: var(--slider-max-height-fix);
  }

  .r-header__footer {
    padding: var(--child-list-top-padding) 0;
  }

  .r-header__slider-pagination.swiper-pagination {
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 28px;
  }

  .r-header__slider-pagination.swiper-pagination .swiper-pagination-bullet {
    margin-left: 0;
  }

  .r-header-burger {
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .r-header-burger div {
    background-color: var(--white);
    width: 100%;
    height: 8px;
  }

  .r-header__search {
    padding: 0;
  }

  .r-header__search button {
    top: 2px;
  }

  .r-header-top__menu {
    display: none;
  }

  .r-header-row {
    justify-content: space-between;
  }

  .brands-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .brands-filter-wrapper {
    flex-wrap: wrap;
    gap: 0 28px;
  }

  .brands-filter-wrapper > div:nth-child(1) {
    order: 1;
  }

  .brands-filter-wrapper > div:nth-child(2) {
    order: 2
  }

  .brands-filter-wrapper > div:nth-child(3) {
    order: 3
  }

  .brands-filter-wrapper > div:nth-child(4) {
    order: 4
  }

  .brands-filter-wrapper > div.current-filter-namespace {
    order: 5;
    flex: 0 1 100%;
  }

  .filter-namespace {
    justify-content: center;
  }

}

@media (max-width: 767px) {
  div.wrapper {
    overflow: initial;
  }
}

@media (max-width: 768px) {
  [data-r=redesign] {
    --slider-max-height-fix: 90px;
    /*--slider-max-height-fix: 160px;*/
  }
  div.wrapper {
    overflow: initial !important;
  }

  .r-header-row {
    gap: 20px;
  }

  .r-header-top__tg {
    flex-direction: column;
    justify-content: center;
    width: 70px;
    gap: 4px;
    text-align: center;
    flex-shrink: 0;
  }

  .r-header-top__tg img {
    width: 40px;
    height: 40px;
  }

  .r-header-top__tg div {
    font-size: 12px;
    line-height: 14px;
  }

  .brands-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .brands-filter-wrapper {
    padding: 0 16px;
  }

  .brands-filter-wrapper .current-filter-namespace ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 8px;
  }

  .k-basket-wrapper .product-element {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  /*.k-basket-wrapper .area_for_total {*/
  /*  padding-left: 16px;*/
  /*}*/

  /*.k-basket-wrapper .total {*/
  /*  border: none;*/
  /*}*/
}
@media (max-width: 600px) {
  [data-r="redesign"] {
    --header-top-height-fix: 45px;
  }
  .r-button[data-k-js=toggle-sections] {
    display: inline-block;
    font-size: 24px;
    max-width: none;
    width: max-content;
  }
  .r-catalog-top__list-wrapper {
    transition: max-height .2s linear;
  }
  .r-catalog-top__list-wrapper:not(.opened) {
    max-height: 0;
    overflow: hidden;
  }
  .r-header .r-header-top {
    position: static;
    height: 45px;
    background-color: var(--dark);
  }
  .r-header-top__tg {
    width: 110px;
  }
  .r-header-top__tg img {
    height: 20px;
    width: 20px;
  }
  .r-header-top__logo {
    padding: 4px;
    max-width: none;
  }
  .r-header-top__logo img {
    height: 37px;
  }
}
@media (max-width: 480px) {
  [data-r=redesign] {
    --slider-max-height: 80px;
    --slider-max-height-fix: 80px;
    --header-top-height-fix: 80px;
  }
  .brands-list {
    grid-template-columns: repeat(2, 1fr);
  }

}
.r-button {
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
  max-width: 140px;
  width: 100%;
}
.r-button.r-button-disabled {
  pointer-events: none;
  color: #000;
  background-color: transparent;
}

.r-button.r-button-product-element {
  max-width: none;
}
@media (min-width: 768px) {
  .r-button {
    font-size: 24px;
    transition: background-color .3s ease-in-out;
  }
  .r-button:hover {
    background-color: rgb(50, 50, 50);
    color: #fff;
  }
}
.k1-buttons-block {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.k-element-count {
  display: none;
}
.k-element-count.added {
  display: block;
}
.k-element-count table {
  height: 24px;
  width: 90px;
}
.k-element-count tr:first-child > td {
  padding-top: 0;
}
.k-element-count .plus.disabled {
  pointer-events: none;
  opacity: .5;
}
.k-element-count .minus, .k-element-count .plus {
  cursor: pointer;
  width: 28px;
  height: 100%;
}
.k-element-count .minus div,
.k-element-count .plus div {
  border: 1px solid #cccccc;

  height: 100%;

}

.k-element-count .minus div {
  background: url(/bitrix/templates/concept_kraken_s1/images/cart/min.jpg) center no-repeat;
  background-color: #fff;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;

}

.k-element-count .plus div {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background: url(/bitrix/templates/concept_kraken_s1/images/cart/plus.png) center no-repeat;
  background-color: #fff;
}

.k-element-count .k-count-val {
  width: 100%;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: 100%;
  text-align: center;
  padding: 0 2px;
  font-size: 15px;
  line-height: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}






















