@font-face {
  font-display: swap;
  font-family: 'tt';
  src: url("fonts/t/TTSUPERMOLOTNEUE-LIGHT.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: 'tt';
  src: url("fonts/t/TTSUPERMOLOTNEUE-REGULAR.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'tt';
  src: url("fonts/t/TTSUPERMOLOTNEUE-MEDIUM.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: 'tt';
  src: url("fonts/t/TTSUPERMOLOTNEUE-BOLD.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-family: 'tt';
  src: url("fonts/t/TTSUPERMOLOTNEUE-BLACK.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: 'ttс';
  src: url("fonts/t/TTSUPERMOLOTNEUE-CONDENSEDTHIN.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: 'ttс';
  src: url("fonts/t/TTSUPERMOLOTNEUE-CONDENSEDREGULAR.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'ttс';
  src: url("fonts/t/TTSUPERMOLOTNEUE-CONDENSEDMEDIUM.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: 'ttс';
  src: url("fonts/t/TTSUPERMOLOTNEUE-CONDENSEDBOLD.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}


