.title-form.main1 {
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.form-order .input {
  margin: 0 0 15px;
  position: relative;
}
.form-order .input .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
}

.form-order .input .desc {
  font-size: 16px;
  line-height: 17px;
  position: absolute;
  top: 18px;
  left: 16px;
  color: #767676;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.form-order .input.in-focus .desc {
  font-size: 12px;
  line-height: 13px;
  padding: 7px 11px 0;
  top: 2px;
  left: 2px;
  right: 2px;
  background: #fff;
  z-index: 10;
}

.form-order input[type="text"], form.form input[type="email"], form.form input[type="password"] {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
  box-shadow: none !important;
  border: 2px solid #d5d5d5;
  padding: 0 12px;
  padding-top: 0px;
  padding-right: 12px;
  height: 54px;
  position: relative;
  font-size: 16px;
  line-height: 17px;
}
.form-order textarea.focus-anim,
.form-order input.focus-anim {
  padding-top: 11px;
  background: transparent;
}

.form-order textarea.focus-anim {
  padding-top: 20px;
}
.form-order input.require {
  background: url('/bitrix/templates/concept_kraken_s1/images/star-req.png') calc(100% - 12px) 50% no-repeat;
  background-size: auto;
  background-size: 7px;
  padding-right: 35px;
}

.form-order textarea {
  outline: none;
  resize: none;
  overflow: auto;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #d5d5d5;
  box-shadow: none;
  width: 100%;
  padding: 12px;
  padding-top: 12px;
  height: 110px;
  font-size: 16px;
  line-height: 17px;
  position: relative;
  background-color: transparent;
}

.form-order .input-textarea textarea {
  height: 110px;
}

.form-order .name-tit-choose {
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0 20px;
}

.form-order .form-select {
  position: relative;
}

.form-order .ar-down {
  position: absolute;
  width: 44px;
  height: 44px;
  right: 2px;
  top: 2px;
  bottom: 0;
  background: #fff url('/bitrix/templates/concept_kraken_s1/images/select_ar.png') center no-repeat;
  z-index: 10;
  border-left: 2px solid #d5d5d5;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.form-order .select-list-choose {
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  display: block;
  background: #fff;
  padding: 14px 55px 15px 12px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 43px;
  border: 0;
  cursor: pointer;
  border: 2px solid #d5d5d5;
  color: #767676;
}

.form-order .select-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 58px);
  background: #fff;
  z-index: 11;
  border: 2px solid #d5d5d5;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(213, 213, 213);
  border-top: 0;
}

.form-order .select-list label {
  display: block;
  font-weight: normal;
  max-width: 100%;
  margin-bottom: 5px;
}

.form-order .select-list .name {
  display: block;
  padding: 12px;
  cursor: pointer;
  overflow: hidden;
}

.form-order .select-list input[type="radio"] {
  position: absolute;
  left: -9999999999px;
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.form-order .form-select.open .select-list {
  display: block;
  max-height: 194px;
  overflow: auto;
}

.form-order .form-select.open .select-list label:last-child {
  margin-bottom: 0;
}

.form-order .inp-desc-style.active {
  padding: 0 0 5px 30px;
  font-size: 14px;
  line-height: 19px;
  color: #5d5d5d;
  background: url("/bitrix/templates/concept_kraken_s1/images/cart/info.png") left top no-repeat;
  margin: 16px 0 0;
  position: static;
}

.form-order .button-def {
  width: 100%;
}


.form-order .has-error input[type="text"],
.form-order .has-error input[type="email"],
.form-order .has-error input[type="password"] {
  border-color: #a94242 !important;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
}

.form-order .r-button {
  max-width: none;
}












































