.section-with-hidden-items {
  margin-bottom: 20px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-click {
  height: 60px;
  font-size: 17px;
  line-height: 60px;
  padding: 0 20px 0 55px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 23px center;
  background-size: 20px;
  position: relative;
}

.btn-click.noactive {
  background-color: #333300;
  transition: background-color .3s;
}

.btn-click.filter-icon {
  background-size: 20px;
}

.btn-click.filter-icon.noactive {
  background-image: url('/bitrix/templates/concept_kraken_s1/images/svg/filter_wt.svg');
  color: #fff;
}

.btn-click.filter-icon.active {
  background-image: url('/bitrix/templates/concept_kraken_s1/images/svg/filter_bl.svg');
  color: #000;
  background-color: #e3e3e3;
}
.btn-click.filter-icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  right: 20px;
}
.btn-click.filter-icon.noactive i.down {
  display: inline-block
}

.btn-click.filter-icon.active i.down {
  display: none
}

.btn-click.filter-icon.noactive i.up {
  display: none;
}

.btn-click.filter-icon.active i.up {
  display: inline-block;
  color: #000;
}

.bx-filter {
  width: 100%;
  min-width: 220px;
  margin-bottom: 40px;
}

.bx-filter .bx-filter-section {
  position: relative;
}

.bx-filter .bx-filter-parameters-box {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  background-color: #f8f8f8;
}

.bx-filter-button-box {
  text-align: center;
}

.bx-filter .bx-filter-parameters-box-title {
  font-size: 14px;
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block {
  display: block;
}

.bx-filter .bx-filter-parameters-box-title i.arrow-toogle {
  color: #919191;
  border-bottom: 1px solid transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}


.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block {
  display: block;
}
.bx-filter-parameters-box-container {
  padding: 0 20px 10px;
}

.bx-filter-parameters-box-container-block.bx-left {
  padding-right: 5px;
}

.bx-filter-parameters-box-container-block.bx-right {
  padding-left: 5px;
}

.bx-filter .bx-ui-slider-track-container {
  padding-top: 10px;
  padding-bottom: 25px;
}

.bx-filter .bx-filter-input-container {
  position: relative;
}

.bx-filter .bx-filter-input-container input {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 34px;
  height: 34px;
  margin: 0;
  padding: 0 4px 0 30px;
  border: 1px solid #bcbcbc;
  background: #fff;
  outline: none;
  border-radius: 2px;
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub {
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.bx-filter .bx-ui-slider-part span {
  font-size: 11px;
  display: block;
  color: #a0a0a0;
}

.bx-filter .bx-ui-slider-part.right span {
  text-align: right;
}

.bx-filter .bx-ui-slider-track {
  position: relative;
  height: 4px;
  background: #dcdcdc;
  margin-top: 4px;
}
.bx-filter .bx-ui-slider-pricebar-vd, .bx-filter .bx-ui-slider-pricebar-vn, .bx-filter .bx-ui-slider-pricebar-v {
  position: absolute;
  top: 0;
  bottom: 0;
}
.bx-filter .bx-ui-slider-pricebar-v {
  background-color: #333300;
  position: absolute;
  top: 0;
  bottom: 0;
}

.bx-filter .bx-ui-slider-handle {
  position: absolute;
  /*top: 100%;*/
  width: 10px;
  height: 9px;
  background: #000;
  top: -3px;
}

.bx-filter .bx-ui-slider-handle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  border: 5px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: transparent;
  border-top: 5px solid #000;
}

.bx-filter .bx-ui-slider-handle:active {
  -webkit-cursor: grabbing;
  -ms-cursor: grabbing;
  -o-cursor: grabbing;
  cursor: grabbing;
}
.bx-filter .bx-ui-slider-handle:hover {
  -webkit-cursor: grab;
  -ms-cursor: grab;
  -o-cursor: grab;
  cursor: grab;
}

.bx-filter .bx-filter-popup-result {
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  z-index: 999;
  display: none;
  padding: 10px 20px;
  white-space: nowrap;
  color: #fff;
  background-color: #707070;
  top: 7px;
}

.bx-filter .bx-filter-popup-result::after {
  content: '';
  position: absolute;
  left: -20px;
  border: 10px solid transparent;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: transparent;
  border-right: 10px solid #707070;
}

.bx-filter .bx-filter-popup-result.right {
  left: 100%;
}

.bx-filter-button-box input.button-def {
  display: block;
  width: 100%;
}

.bx-filter-button-box .wrapper-button-gray {
  padding: 19px 0 19px 16px;
  position: relative;
  display: inline-block;
  opacity: .7;
  filter: alpha(opacity=70);
}

a > span.bord-bot {
  color: #1a8fe9;
  border-bottom: 1px solid #dedede;
  transition: border-bottom-color .7s;
  -webkit-transition: border-bottom-color .7s;
  -moz-transition: border-bottom-color .7s;
}

.bx-filter .bx-filter-popup-result span.bord-bot {
  font-size: inherit;
  line-height: inherit;
  color: #9dc2d9;
}

.bx-filter-button-box input.button-def {
  display: block;
  width: 100%;
  color: #fff;
}

.main-color, div.news div.slider-news .slick-prev, div.news div.slider-news .slick-next {
  background-color: #333300;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}

.bx-filter .bx-filter-button-box .bx-filter-block {
  padding: 25px 0 0;
  background-color: #f8f8f8;
}

.bx-filter-button-box .wrapper-button-gray {
  padding: 19px 0 19px 16px;
  position: relative;
  display: inline-block;
  opacity: .7;
  filter: alpha(opacity=70);
}


.bx-filter-button-box input.button-gray {
  border: 0;
  font-size: 16px;
  line-height: 18px;
  color: #909090;
  cursor: pointer;
  background-color: transparent;
}


.bx-filter-button-box div.clear-ic {
  width: 16px;
  height: 16px;
  background: url("/bitrix/templates/concept_kraken_s1/images/svg/cross_bl.svg") center no-repeat;
  background-size: auto;
  background-size: 9px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  opacity: .4;
  filter: alpha(opacity=40);
}

































