table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}

.k1-modal {
	& .k1-form {
		max-width: 785px;
		padding: 0 0 4rem;
		width: 100%;

		& .k1-form-description {
			& p {
				font-weight: 700;
			}

			& ul, & li {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			& li {
				font-size: 14px;
				line-height: 1.2;
			}

			& li + li {
				margin-top: 1rem;
			}
		}

		&.k1-success-send-form {
			color: green;
			font-size: 1.5rem;
			font-weight: 700;
			text-align: center;
		}

		& .k1-form-row.k1-form-checkbox {
			& label {
				display: flex;
				gap: 1rem;
			}
		}

		& .k1-form-row + .k1-form-row {
			margin-top: 2rem;
		}

		& label {
			display: block;
		}

		& input[type=text],
		& textarea {
			display: block;
			width: 100%;
			background-color: rgba(220, 220, 220, 0.25);
			padding: 10px 15px;
			border-radius: 4px;
			/*border: 1px solid transparent;*/
			font-weight: 400;
			border: 2px solid #d5d5d5;
			color: #181818;

			&.k1-error {
				border-color: red;
			}
		}

		/*& input[name=form_text_23] {*/
		/*  max-width: 50%;*/
		/*}*/
		/*& textarea {*/
		/*  resize: none;*/
		/*}*/

		& label.main-btn {
			width: max-content;
			margin: 0 auto;
		}

		& input[type=submit] {
			background: none;
			color: white;
			padding: 0;
			margin: 0;
			display: block;
			border: none;
			text-align: center;
			width: max-content;

		}

		& .k1-form-file-fake {
			font-size: 16px;
			line-height: 15px;
			display: inline-block;
			font-weight: normal;
			padding: 4px 0 4px 20px;
			background: url('/bitrix/templates/concept_kraken_s1/images/clip_form.png') left center no-repeat;
			text-decoration: underline;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
		}

		& input[type=file] {
			display: none;
			opacity: 0;
		}
	}
}