.inner-breadcrumb {
	list-style: none;
	padding: 0;
	margin: 0;
}

.inner-breadcrumb li {
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 13px;
	white-space: nowrap;
	color: #fff;
	float: left;
	margin-left: 0 !important;
	margin-top: 0 !important;
}
.inner-breadcrumb li.active{
	opacity: 1;
	background-color: rgba(255,255,255,.15);
	padding: 5px 10px 7px;
}
.inner-breadcrumb a {
	padding: 5px 10px 7px;
	transition: opacity .4s;
	display: block;
	color: inherit;
	opacity: .5;
	margin-top: 0 !important;
	background-color: rgba(255,255,255,.15);
	text-decoration: none;
}
.inner-breadcrumb a:hover {
	opacity: .8;
}